<h1 mat-dialog-title>
  {{ modoEdicion ? 'Editar Proveedor' : 'Registrar Nuevo Proveedor' }}
</h1>

<div mat-dialog-content>
  <form [formGroup]="proveedorForm" class="dialog-form">

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre Comercial</mat-label>
        <input matInput formControlName="nombreComercial">
        <mat-error *ngIf="proveedorForm.get('nombreComercial')?.invalid">
          Obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ID Fiscal (RUC/NIF)</mat-label>
        <input matInput formControlName="identificacionFiscal">
        <mat-error *ngIf="proveedorForm.get('identificacionFiscal')?.invalid">
          Obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" formControlName="correoElectronico">
        <mat-error *ngIf="proveedorForm.get('correoElectronico')?.invalid">
          Correo inválido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
        <mat-error *ngIf="proveedorForm.get('telefono')?.invalid">
          Obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion">
      <mat-error *ngIf="proveedorForm.get('direccion')?.invalid">
        Obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Persona de Contacto</mat-label>
      <input matInput formControlName="personaContacto">
      <mat-error *ngIf="proveedorForm.get('personaContacto')?.invalid">
        Obligatorio.
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancelar()" [disabled]="isLoading">
    Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="onGuardar()" [disabled]="proveedorForm.invalid || isLoading">
    <span *ngIf="!isLoading">{{ modoEdicion ? 'Actualizar' : 'Guardar' }}</span>
    <span *ngIf="isLoading">Guardando...</span>
  </button>
</div>
