/* Reuso de estilos base de formulario */
.dialog-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-row mat-form-field {
  flex-grow: 1;
}

[mat-dialog-actions] {
  justify-content: flex-end;
}

/* Estilo específico para el monto a pagar */
.summary-total {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e9f5ff; /* Azul claro */
  border-radius: 4px;
}

.summary-total strong {
  color: #007bff; /* Azul oscuro */
}

/* Botón principal (Pagar) */
button[color="accent"] {
  margin-left: 10px;
  background-color: #007bff;
}
button[color="accent"]:hover {
  background-color: #0056b3;
}
