<app-sidebar-admin></app-sidebar-admin>

<div class="admin-content">
  <h1>Bienvenido al Panel de Administrador</h1>
  <p>
    Selecciona una opción del menú de la izquierda para comenzar a gestionar
    PuppyHugs.
  </p>

  <div class="stats-container">
    <div class="stat-card">
      <h2>Productos</h2>
      <p>150 Activos</p>
    </div>
    <div class="stat-card">
      <h2>Ventas Hoy</h2>
      <p>12</p>
    </div>
    <div class="stat-card">
      <h2>Usuarios</h2>
      <p>45 Registrados</p>
    </div>
  </div>

</div>
