<app-sidebar-admin></app-sidebar-admin>

<div class="admin-content">

  <div class="header-container">
    <h1>Reporte de Ventas</h1>
  </div>

  <hr>

  <div class="table-container">

    <div *ngIf="isLoading" class="loading-spinner">
      Cargando reporte de ventas...
    </div>

    <table *ngIf="!isLoading">
      <thead>
      <tr>
        <th>ID Venta</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Detalle (Productos)</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let venta of ventas">
        <td>#{{ venta.id }}</td>
        <td>{{ venta.cliente.nombreCompleto }}</td>
        <td>{{ venta.fechaVenta | date:'dd/MM/yyyy HH:mm' }}</td> <td>
            <span class="estado-activo">
              {{ venta.estadoVenta }}
            </span>
      </td>
        <td [title]="getDetalleTooltip(venta)">
          {{ venta.detalles.length }} items
        </td>
        <td>
          <strong>{{ venta.totalVenta | currency:'$' }}</strong> </td>
      </tr>

      <tr *ngIf="ventas.length === 0 && !isLoading">
        <td colspan="6" class="no-data">
          No hay ventas registradas.
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
