/* Hacemos que los mat-form-field ocupen todo el ancho */
.dialog-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}

/* Contenedor para poner campos en la misma fila */
.form-row {
  display: flex;
  gap: 15px; /* Espacio entre los campos */
}

/* Hacemos que los campos en la fila crezcan */
.form-row mat-form-field {
  flex-grow: 1;
}

/* Alinea los botones a la derecha (flex-end) */
[mat-dialog-actions] {
  justify-content: flex-end;
}

/* Botón principal (Guardar) con más margen */
button[mat-raised-button] {
  margin-left: 10px;
}
