<!-- src/app/components/admin/dashboard-admin/dashboard-admin.component.html -->

<div class="dashboard-layout">



  <!-- 2. Contenido Principal -->
  <main class="main-content">
    <header class="main-header">
      <!-- (Aquí puedes poner un saludo, botón de logout, etc.) -->
      <h3>Panel de Administración</h3>
    </header>

    <!--
      ¡ESTA ES LA ETIQUETA MÁGICA!
      Aquí es donde Angular cargará los componentes
      (UsuariosAdminComponent, ProveedoresAdminComponent, etc.)
    -->
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

  </main>
</div>
