<app-sidebar-admin></app-sidebar-admin>

<div class="admin-content">

  <div class="header-container">
    <h1>Gestión de Usuarios</h1>
  </div>

  <hr>

  <div class="table-container">

    <div *ngIf="isLoading" class="loading-spinner">
      Cargando usuarios...
    </div>

    <table *ngIf="!isLoading">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Completo</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombreCompleto }}</td>
        <td>{{ usuario.correoElectronico }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>
            <span [ngClass]="usuario.rol === Roles.ROL_ADMIN ? 'estado-activo' : 'estado-cliente'">
              {{ usuario.rol }}
            </span>
        </td>
        <td class="acciones">
          <button (click)="eliminarUsuario(usuario.id)" class="btn-eliminar">
            Eliminar
          </button>
        </td>
      </tr>

      <tr *ngIf="usuarios.length === 0 && !isLoading">
        <td colspan="7" class="no-data">
          No hay usuarios registrados.
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
